@import "./variables.scss";

.toolbar {
  height: $toolbar-height;
  background: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  z-index: 999;

  &__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
  }

  .brush {
    background: url("../../src/assets/img/brush.png") no-repeat center center;
  }

  .rect {
    background: url("../../src/assets/img/rect.png") no-repeat center center;
  }

  .circle {
    background: url("../../src/assets/img/circle.png") no-repeat center center;
  }

  .eraser {
    background: url("../../src/assets/img/eraser.png") no-repeat center center;
  }

  .line {
    background: url("../../src/assets/img/line.png") no-repeat center center;
  }

  .undo {
    margin-left: auto;
    background: url("../../src/assets/img/undo.png") no-repeat center center;
  }

  .redo {
    background: url("../../src/assets/img/redo.png") no-repeat center center;
  }

  .save {
    background: url("../../src/assets/img/save.png") no-repeat center center;
    margin-right: 10px;
  }
}

.settingbar {
  height: $toolbar-height;
  background: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  top: $toolbar-height;
}
